@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:url(../../public/bg.png);
  background-size: cover;
  background-attachment: fixed;
}

.toaster{
  border: 1px solid rgb(79,70,229);
  position: fixed;
  left: 50%;
  z-index: 999;
  top: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  background: white;
  color: black;
  animation:toaster 1s ease;
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
  margin-left: -100px;
}

.toaster2{
  border: 1px solid rgb(79,70,229);
  position: fixed;
  left: 50%;
  z-index: 999;
  top: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  background: white;
  color: black;
  animation:toaster 1s ease;
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
  margin-left: -100px;
}

.toaster21{
  border: 1px solid rgb(79,70,229);
  position: fixed;
  left: 50%;
  z-index: 999;
  top: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  background: white;
  color: black;
  animation:toaster 1s ease;
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
  padding: 5px;
  margin-left: -100px;
}

#toasterBg{
  background: rgba(29, 29, 29, 0.54);
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
}

#toasterBg1{
  background: rgba(29, 29, 29, 0.54);
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
}


/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #4f46e5; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4f46e5; /* Color when hovered */
}

::-webkit-scrollbar-button {
  display: none;
}

.card-gradient{
  background: linear-gradient(to bottom right,#3C3E4C,#4f46e5);
}

.d{
  display: contents;
}


.toaster4{
  border: 1px solid rgb(79,70,229);
  position: fixed;
  left: 50%;
  z-index: 999;
  top: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  background: white;
  color: black;
  animation:toaster 1s ease;
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
  margin-left: -100px;
}
#toaster3{
  background: rgba(29, 29, 29, 0.54);
  width: 100%;
  height: 100vh;
  left:0;
  top:0;
  z-index: 999;
  position: fixed;
  display: none;
}
@keyframes toaster {
  0%{
    top: 0;
    transform: scale3d(0,0,0);
  }

  100%{
    top: 20px;
    transform: scale3d(1,1,1);

  }
}
.animate{
  border-radius: 100%;
}
.animate:nth-child(1){
  background-color: #4f46e5;
  animation: goup 1s infinite;
}
.animate:nth-child(2){
  background-color: #469de5;
  animation: goup 2s infinite;
}
.animate:nth-child(3){
  animation: goup 3s infinite;
}
.animate:nth-child(4){
  background-color: #c046e5;
  animation: goup 4s infinite;
}
.animate:nth-child(5){
  background-color: #46e553;
  animation: goup 2s infinite;
}

@keyframes goup{
  0%{
    transform: translate3d(0,0,0) ;
  }
  20%{
    transform: translate3d(-286px,0,0);
  }
  40%{
    transform: translate3d(-286px,-85px,0);
  }
  60%{
    transform:  translate3d(286px,-85px,0);
  }
  80%{
    transform: translate3d(286px,0,0);
  }
  100%{
    transform: translate3d(0,0,0);
  }
}


