@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.toaster{
  border: 1px solid rgb(79,70,229);
  position: fixed;
  left: 50%;
  z-index: 999;
  top: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  background: white;
  color: black;
  animation:toaster 1s ease;
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
  margin-left: -100px;
}

/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #4f46e5; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4f46e5; /* Color when hovered */
}

::-webkit-scrollbar-button {
  display: none;
}

.card-gradient{
  background: linear-gradient(to bottom right,#3C3E4C,#4f46e5);
}

.d{
  display: contents;
}

@keyframes toaster {
  0%{
    top: 0;
    transform: scale3d(0,0,0);
  }

  100%{
    top: 20px;
    transform: scale3d(1,1,1);

  }
}
